.chrome-ruller-overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 9999;
  direction: ltr;
}
.chrome-ruller-overlay .wrapper {
  background-color: transparent;
  position: absolute;
}
.chrome-ruller-overlay .wrapper:hover .line {
  background-color: blue;
}
.chrome-ruller-overlay .wrapper .ruller {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: lightblue;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.chrome-ruller-overlay .wrapper .value {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  position: absolute;
  -webkit-touch-callout: none;
  user-select: none;
}
.chrome-ruller-overlay .wrapper .value.width {
  top: -25px;
  right: 50%;
  transform: translateX(50%);
}
.chrome-ruller-overlay .wrapper .value.height {
  left: -30px;
  top: 50%;
  transform: translateY(-50%) rotateZ(-90deg);
}
.chrome-ruller-overlay .wrapper .line {
  position: absolute;
  background-color: white;
  z-index: 0;
}
.chrome-ruller-overlay .wrapper .line.top {
  height: 1px;
  top: -1px;
  right: 50%;
  transform: translateX(50%);
}
.chrome-ruller-overlay .wrapper .line.right {
  width: 1px;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}
.chrome-ruller-overlay .wrapper .line.bottom {
  height: 1px;
  bottom: -1px;
  right: 50%;
  transform: translateX(50%);
}
.chrome-ruller-overlay .wrapper .line.left {
  width: 1px;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}
