.chrome-ruller-overlay{
	@major: 0;
	@minor: 0;
	@build: 9;

	@color-rotate-label: white;
	@color-value-label: white;
	@color-rotate-wrapper: lightgray;
	@color-line: cyan;
	@color-line-focus: white;

	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	overflow: hidden;
	z-index: 9999;
	direction: ltr;
	margin: 0;
	padding: 0;

	& *{
		margin: 0;
		padding: 0;
	}

	div[class^=ui-resizable]{
		background: none;
	}

	div{
		width: auto;
		background-color: transparent;
		border-radius: 0;
	}

	.wrapper{
		background-color: transparent;
		position: absolute;
		
		.ruller{
			height: 100%;
			width: 100%;
			opacity: 0.5;
			z-index: 1;
			position: relative;
			cursor: pointer;
			border-radius: 0;
			&:focus{
				outline: none;
				.line{
					border-color: @color-line-focus;
				}
			}
			.getVersionColor();
		}

		.value{
			color: @color-value-label;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			position: absolute;
			-webkit-touch-callout: none;
			user-select: none;
	
			&.width{
				top: -27px;
				right: 50%;
				transform: translateX(50%);
			}
			&.height{
				left: -30px;
				top: 50%;
				transform: translateY(-50%) rotateZ(-90deg);
			}
		}
		
		.line{
			position: absolute;
			border-top: 1px dashed @color-line;
			border-right: 1px dashed @color-line;
			z-index: 0;
			background-color: none;

			&.top{
				height: 1px;
				top: -1px;
				right: 50%;
				transform: translateX(50%);
			}

			&.right{
				width: 1px;
				right: -1px;
				top: 50%;
				transform: translateY(-50%);
			}

			&.bottom{
				height: 1px;
				bottom: -1px;
				right: 50%;
				transform: translateX(50%);
			}

			&.left{
				width: 1px;
				left: -1px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.rotate{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: @color-rotate-label;
			.rotateLabel{
				display: none;
				&:after{
					content: '°';
				}
			}
		}

		&.rotated{
			border: 1px dashed @color-rotate-wrapper;
			.rotate .rotateLabel{
				display: block;
			}
		}
	}

	.getVersionColor(){
		@buildDif: 33;
		@minDif: 11;
		@majDiff: 40;

		@r: `((((@{build} + 1) * @{buildDif}) % 340) + 20)`;
		@g: percentage(`((((@{minor} + 1) * @{minDif}) % 80) + 20) / 100`);
		@b: percentage(`((((@{major} + 1) * @{majDiff}) % 60) + 40) / 100`);

		background-color: hsl(@r, @g, @b);
	}
}