body{
	background: lightblue;
	.target{
		div{
			display: flex;
			height: 25px;
			margin: 10px 0;

			label{
				margin: 0 10px;
				width: 50px;
				color: white;
			}

			span{
				display: inline-block;
				height: 100%;
				width: 100px;
			}
		}
	}
}