body {
  background: lightblue;
}
body .target div {
  display: flex;
  height: 25px;
  margin: 10px 0;
}
body .target div label {
  margin: 0 10px;
  width: 50px;
  color: white;
}
body .target div span {
  display: inline-block;
  height: 100%;
  width: 100px;
}
